<article class="blog-compact-row">
    <a href="{{ .RelPermalink }}">
        <span class="blog-compact-row__trace" aria-hidden="true"></span>
        <span class="blog-compact-row__title">{{ .Title }}</span>
        <span class="blog-compact-row__meta">
            {{- $description := .Params.description -}}
            {{- $IsTerm := in .Kind "term" -}}
            {{- if $IsTerm -}}
                {{- $description = $description | default (T "list.page" (len .Pages)) -}}
            {{- end -}}
            {{- if or $IsTerm .Date.IsZero -}}
                {{- $description -}}
            {{- else -}}
                {{- .Date | time.Format .Site.Params.dateFormat.published -}}
            {{- end -}}
        </span>
    </a>
</article>
